<div class="admin-container">
  <h1>Admin Panel</h1>

  <mat-tab-group>
    <mat-tab label="User Management">
      <div class="tab-content">
        <app-user-form (userCreated)="onUserCreated()"></app-user-form>
        <app-user-list></app-user-list>
      </div>
    </mat-tab>

    <mat-tab label="Question Management">
      <div class="tab-content">
        <app-question-form
          [questionToEdit]="questionToEdit"
          (questionCreated)="onQuestionCreated()"
          (questionUpdated)="onQuestionUpdated()">
        </app-question-form>
        <app-question-list (editQuestion)="onEditQuestion($event)"></app-question-list>
      </div>
    </mat-tab>

    <mat-tab label="User Questions">
      <div class="tab-content">
        <app-user-question-form (userQuestionCreated)="onUserQuestionCreated()"></app-user-question-form>
        <app-user-question-list></app-user-question-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
