<div class="admin-container">
  <h1>Admin Panel</h1>

  <mat-tab-group>
    <mat-tab label="User Management">
      <div class="tab-content">
        <app-user-list
          (createUser)="onCreateUser()"
          (editUser)="onEditUser($event)">
        </app-user-list>
      </div>
    </mat-tab>

    <mat-tab label="Question Management">
      <div class="tab-content">
        <app-question-list
          (createQuestion)="onCreateQuestion()"
          (editQuestion)="onEditQuestion($event)">
        </app-question-list>
      </div>
    </mat-tab>

    <mat-tab label="User Questions">
      <div class="tab-content">
        <app-user-question-list
          (assignUserQuestion)="onAssignUserQuestion($event)">
        </app-user-question-list>
      </div>
    </mat-tab>

    <mat-tab label="Kalender Freischaltung">
      <div class="tab-content">
        <app-calendar-management></app-calendar-management>
      </div>
    </mat-tab>

    <mat-tab label="Prize Management">
      <div class="tab-content">
        <app-prize-management></app-prize-management>
      </div>
    </mat-tab>

    <mat-tab label="Holiday Popups">
      <div class="tab-content">
        <app-holiday-popup-management></app-holiday-popup-management>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
